* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 62.5%;
  --font-primary:'Roboto';
  --bold: 700;
  --regular: 400;
}

body {
  background: #040924;
}

body, input, button {
  font-size: 1.6rem;
}

.hide {
  display: none;
}

.error {
  background-color: #F03E3E;
  padding: 0.8rem 0;
  text-align: center;
  animation-name: topdown;
  animation-duration: 1.4s;
  animation-timing-function: ease;
}

.error h2 {
  font-family: var(--font-primary);
  font-weight: var(--bold);
  font-size: 1.6rem;
  color: white;
  
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  background-color: white;
  width: 42.8rem;
  height: 100%;
  margin-inline : auto;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.8rem;
  animation: downtop 1s reverse; 
  animation-timing-function: ease;
}

main div {
  display: flex;
  flex-direction: column;
}

main h1 {
  font-family: var(--font-primary);
  font-weight: var(--bold);
  font-size: 3.2rem;
  color: #0C3440;

}

main p {
  font-family: var(--font-primary);
  font-weight: var(--regular);
  font-size: 1.4rem;
  color: #00453A;
  margin-bottom: 0.8rem;
}

main div button {
  margin-top: 3.2rem;
  background: #02799D;
  border-radius: 4px;
  padding: 1.6rem 9rem;
  font-size: 1.6rem;
  color: white;
  font-family: var(--font-primary);
  font-weight: var(--bold);
  border: none;
  transition: all 200ms;
  transition-timing-function: ease-in-out;
}

main div button:hover {
  background-color: #34a5c7;
  cursor: pointer;
  transform: scale(1.1);
}

main div button img {
  margin-left: .7rem;
}

input {
  padding: 1.6rem;
  background: #DCE2E9;
  border: none;
  border-radius: 0.6rem;
  transition: all 200ms;
  color: #212529;
}

input:hover {
  border: 1px solid #02799D;
  transform: scale(1.03);
}

input:focus {
  outline: 2px solid #02799D;
}

input::placeholder {
  color: rgba(73, 80, 87, 0.5);
}

.peso {
  margin-top: 3.2rem;
}

.altura {
  margin-top: 1.6rem;
}

/* Modal */

h2 {
  font-family: var(--font-primary);
  font-weight: var(--bold);
  color: #0C3440;
  font-size: 3.2rem;
  text-align: center;
  padding-top: .7rem;
}

.card2 {
  background-color: white;
  width: 42.8rem;
  height: 15.2rem;
  margin-inline : auto;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.8rem;
  animation: downtop 1s reverse; 
  animation-timing-function: ease;
}

.modalWrapper.open {
  opacity: 1;
  visibility: visible;
}

.modalWrapper {
  position: absolute;
  
  inset: 0; 
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */

  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modalCard button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.6rem;
  transition: transform 200ms;
  transition-timing-function: ease;
}

.modalCard button:hover {
  transform: scale(1.2);
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

